<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cs 407</title>
    <link href="../stylesheets/gamestyle.css" rel="stylesheet">
</head>

<body>
    <div id="icoAdmin" class="icoAdmin random-data">
       <div class="icoAdmin-overlay-box"></div>
        <div class="icoAdmin-container">
            <header class="icoAdmin-header">
                <div class="icoAdmin-wrapper">
                    <div class="icoAdmin-left-header">
                        <div class="icoAdmin-logo">
								<span class="logo-text">cs 407 title<span class="hide-in-smallsize"></span></span>
                            </a>
                        </div>
                    </div>
                    <div class="icoAdmin-right-header">
                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="icon-menu"></i></a></div>
                        
                        <div class="icoAdmin-rr-header">
                            <ul>
                                <li class="icons"> <a href="javascript:void(0)"><i class="fa fa-bell" aria-hidden="true"></i>
										</a>
                                   
                                </li>
                           
                                <li class="icons">
                                    <a href="javascript:void(0)"> <i class="fa fa-user" aria-hidden="true"></i> </a>
                                    <div class="drop-down dropdown-profile">
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li><a href="#"><i class="ti-settings"></i> <span>Profile</span></a></li>
                                                <li><a href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="icoAdmin-main-container">
                <div class="icoAdmin-wrapper">
                    <nav class="icoAdmin-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="icoAdmin-inner-navbar">
                            <div class="icoAdmin-search"> <span class="searchbar-toggle">  </span>
                                <div class="icoAdmin-search-box ">
                                    <input type="text" placeholder="Search"> <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span> </div>
                            </div>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/"> <span class="icoAdmin-micon"><i class="icon-graph"></i></span> <span class="icoAdmin-mtext">Home Page</span> </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <!-- ________Side bar End___________________ -->
                    
                    <div class="icoAdmin-content">

                        <div class="row">
                          <div class="col-lg-12">
                            {{#if success_msg}}
                            <div class="alert alert-success">{{success_msg}}</div>
                            {{/if}}

                            {{#if error_msg}}
                            <div class="alert alert-danger">{{error_msg}}</div>
                            {{/if}}

                            {{#if error}}
                            <div class="alert alert-danger">{{error}}</div>
                            {{/if}}
                            
                          </div>  
                        </div>


                        <div class="icoAdmin-inner-content container-fluid">
                            <div class="row page-titles">
                                <div class="col-md-2 align-self-center">
                                    <h3 class="text-primary">Contact</h3>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active">Contact</li>
                                    </ol>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <div class="crypto-ticker">
                                        <ul id="webticker-dark-icons">
                                            <li data-update="item1"><i class="cc BTC"></i> APPL <span class="coin-value"> $11.039232</span></li>
                                            <li data-update="item2"><i class="cc ETH"></i> AMAZ <span class="coin-value"> $1.2792</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <!-- __________Header END______________  -->
                            <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="login-content card">

                                <!--Contact Form-->
                                <div class="contact-form">
                                    <form method="post" action="/contact/send">
                                        <div class="form-group col-lg-4">
                                            <label>User Name</label>
                                            <input type="text" class="form-control" name="username" placeholder="Name*">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>Email Address</label>
                                            <input type="email" class="form-control" name="email" placeholder="Email Address*" required>
                                        </div>

                                        <div class="form-group col-lg-4">
                                            <label>Subject</label>
                                            <input type="text" class="form-control" name="subject" placeholder="Subject*">
                                        </div>

                                        <div class="form-group col-lg-10">
                                            <label>Your Message</label>
                                            <input style="height: 100px" name="message" class="form-control" placeholder="Your Message*"></input>
                                        </div>



                                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">SEND MESSAGE</button>

                                    </form>
                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                            <!-- _____________CopyRight Start______________-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-footer"> 2018 © cs407</div>
                                </div>
                                
                                

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Common JS -->
    <script src="../assets/plugins/common/common.min.js"></script>
    <!-- Sidebar -->
    <script src="../assets/plugins/iconav/js/iconav.min.js"></script>
    <script src="../assets/plugins/iconav/js/iconav-init.js"></script>
    <!-- Peity chart -->
    <script src="../assets/plugins/peity/jquery.peity.min.js"></script>


    <!-- Amchart -->
    <script src="../assets/plugins/amchart/serial.js"></script>
    <script src="../assets/plugins/amchart/light.js"></script>
    <script src="../assets/plugins/amchart/amstock.js"></script>
    <script src="../assets/plugins/amchart/dashboard1-amchart-init.js"></script>
    <!-- Custom dashboard script -->
    <script src="../js/dashboard-1.js"></script>
    <!-- Custom script -->
    <script src="../js/custom.min.js"></script>
</body>

</html>