<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Billionaire</title>
    <link href="stylesheets/gamestyle.css" rel="stylesheet">
    <link href="stylesheets/stock.css" rel="stylesheet">
</head>

<body>
    <div id="icoAdmin" class="icoAdmin random-data">
       <div class="icoAdmin-overlay-box"></div>
        <div class="icoAdmin-container">
            <header class="icoAdmin-header">
                <div class="icoAdmin-wrapper">
                    <div class="icoAdmin-left-header">
                        <div class="icoAdmin-logo">
								<span class="logo-text">Billionaire<span class="hide-in-smallsize"></span></span>
                            </a>
                        </div>
                    </div>
                    <div class="icoAdmin-right-header">
                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="icon-menu"></i></a></div>
                        
                        <div class="icoAdmin-rr-header">
                            <ul>
                                <!-- _________________Notifications_______________ -->
                                {{#if user.alert}}
                                <li class="icons"> <a href="javascript:void(0)"><i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="icoAdmin-badge badge-success">{{user.alert.length}}</span>
										</a>
                                   <div class="drop-down">
                                        <div class="dropdown-content-heading"> <span class="text-left">Recent Notifications</span> </div>
                                        <div class="dropdown-content-body">
                                            <ul>
                                                {{#each user.alert}}
                                                <li>
                                                    <a> <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                        <div class="notification-content"> <small class="notification-timestamp pull-right"></small>
                                                            <div class="notification-text">{{this.msg}}</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                {{/each}}
                                                <li class="text-center"> <a href="#" class="more-link" onclick="deleteAllMsg()">Read All</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {{else}}
                                <li class="icons"> <a href="javascript:void(0)"><i class="fa fa-bell" aria-hidden="true"></i>
                                        </a>
                                    <div class="drop-down">
                                        <div class="dropdown-content-heading"> <span class="text-left">Recent Notifications</span> </div>
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li class="text-center"> <a class="more-link">There is no notifications</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- ___________________Notifications end_________________-->
                                <li class="icons">
                                    <a href="javascript:void(0)"> <i class="fa fa-user" aria-hidden="true"></i> </a>
                                    <div class="drop-down dropdown-profile">
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li><a href="/user/profile"><i class="ti-settings"></i> <span>Profile</span></a></li>
                                                <li><a href="/user/logout"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="icoAdmin-main-container">
                <div class="icoAdmin-wrapper">
                    <nav class="icoAdmin-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="icoAdmin-inner-navbar">
                            <div class="icoAdmin-search"> <span class="searchbar-toggle">  </span>
                                
                                <form class="icoAdmin-search-box " action = "/stock" method="post">
                                    <input type="text" placeholder="Search" name="stockName"> <button class="search-icon" type = "submit" ><i class="fa fa-search" aria-hidden="true"></i></span> </div>
                                </form>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/"> <span class="icoAdmin-micon"><i class="icon-graph"></i></span> <span class="icoAdmin-mtext">Home Page</span> </a>
                                </li>
                            </ul>

                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game"> <span class="icoAdmin-micon"><i class="icon-speedometer"></i></span> <span class="icoAdmin-mtext">Game Page</span></a>

                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/trade_hist"> <span class="icoAdmin-micon"><i class="icon-book-open"></i></span> <span class="icoAdmin-mtext">Trade History</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/watchlist"> <span class="icoAdmin-micon"><i class="icon-calender"></i></span> <span class="icoAdmin-mtext">Watchlist</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/tutorial"> <span class="icoAdmin-micon"><i class="icon-directions"></i></span> <span class="icoAdmin-mtext">Tutorial</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/knowledge"> <span class="icoAdmin-micon"><i class="icon-bulb"></i></span> <span class="icoAdmin-mtext">Knowledge Center</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/strategies"> <span class="icoAdmin-micon"><i class="icon-notebook"></i></span> <span class="icoAdmin-mtext">Strategy</span></a>
                                </li>
                            </ul>

                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/contact"> <span class="icoAdmin-micon"><i class="icon-note"></i></span> <span class="icoAdmin-mtext">Contact us</span></a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                    <div class="icoAdmin-content">
                        <div class="icoAdmin-inner-content container-fluid">
                            <div class="row page-titles">
                                <div class="col-md-2 align-self-center">
                                    <h3 class="text-primary">Dashboard</h3>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <div class="crypto-ticker">
                                        <ul id="webticker-dark-icons">
                                            <li data-update="item1">
                                                <i class="cc BTC"></i> AAPL
                                                <span class="coin-value"> ${{aapl}}</span>
                                            </li>
                                            <li data-update="item2">
                                                <i class="cc ETH"></i> AMZN
                                                <span class="coin-value"> ${{amzn}}</span>
                                            </li>
                                            <li data-update="item3">
                                                <i class="cc GAME"></i> GOOG
                                                <span class="coin-value"> ${{goog}}</span>
                                            </li>
                                            <li data-update="item4">
                                                <i class="cc LBC"></i> NFLX
                                                <span class="coin-value"> ${{nflx}}</span>
                                            </li>
                                            <li data-update="item5">
                                                <i class="cc NEO"></i> ADBE
                                                <span class="coin-value"> ${{adbe}}</span>
                                            </li>
                                            <li data-update="item6">
                                                <i class="cc STEEM"></i> GS
                                                <span class="coin-value"> ${{gs}}</span>
                                            </li>
                                            <li data-update="item7">
                                                <i class="cc LTC"></i> JPM
                                                <span class="coin-value"> ${{jpm}}</span>
                                            </li>
                                            <li data-update="item8">
                                                <i class="cc NOTE"></i> C
                                                <span class="coin-value"> ${{c}}</span>
                                            </li>
                                            <li data-update="item9">
                                                <i class="cc MINT"></i> MS
                                                <span class="coin-value"> ${{ms}}</span>
                                            </li>
                                            <li data-update="item10">
                                                <i class="cc IOTA"></i> BX
                                                <span class="coin-value"> ${{bx}}</span>
                                            </li>
                                            <li data-update="item11">
                                                <i class="cc DASH"></i> IBM
                                                <span class="coin-value"> ${{ibm}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--  row ____________  #1    -->
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="stat-widget-four">
                                            <div class="stat-icon">
                                                <i class="ti-user"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-heading">Users</div>
                                                    <div class="stat-text">{{user.username}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="stat-widget-four">
                                            <div class="stat-icon">
                                                <i class="ti-server"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-heading">Total Profit</div>
                                                    <div class="stat-text">Total: $ {{user.coin}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="stat-widget-four">
                                            <div class="stat-icon">
                                                <i class="ti-stats-up"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-heading">Daily Profit</div>
                                                    <div class="stat-text"> 0</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="stat-widget-four">
                                            <div class="stat-icon">
                                                <i class="ti-pulse"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-heading">Percent change</div>
                                                    <div class="stat-text"> 0 %</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  row ____________  #2   -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="stat-widget-seven">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <i class="cc DASH"></i>
                                                    </div>
                                                    <div class="col-5">
                                                        <h3>AAPL</h3>
                                                        <h6 class="text-muted"><span class="color-gray"></span> <span class="text-info">$0.04</span></h6>
                                                    </div>
                                                    <div class="col-5 text-right">
                                                        <h3>$171</h3>
                                                        <h6 class="text-primary">31% <i class="ti-arrow-up f-s-16 text-primary m-l-5"></i></h6>
                                                    </div>
                                                </div>
                                                <div class="m-t-15">
                                                    <span class="peity-dash" data-peity='{ "fill": "rgba(28,117,188,0.3)", "stroke": "#1c75bc"}'>6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="stat-widget-seven">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <i class="cc ETH" title="ETH"></i>
                                                    </div>
                                                    <div class="col-5">
                                                        <h3>AMAZ</h3>
                                                        <h6 class="text-muted"><span class="color-gray"></span> <span class="text-info">$0.04</span></h6>
                                                    </div>
                                                    <div class="col-5 text-right">
                                                        <h3>$1569</h3>
                                                        <h6 class="text-info">31% <i class="ti-arrow-up f-s-16 text-info m-l-5"></i></h6>
                                                    </div>
                                                </div>
                                                <div class="m-t-15">
                                                    <span class="peity-eth" data-peity='{ "fill": "rgba(70,70,70,0.3)", "stroke": "#282828"}'>6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  row ____________  #3   -->
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Stocks</h4>
                                            <div class="trade-history-table">
                                                <div class="table-responsive">
                                                    <table class="table table-xs">
                                                        <thead>
                                                        <tr>
                                                            <th>Company</th>
                                                            <th>Shares</th>
                                                            <th>Avg Cost</th>
                                                            <th>Equity</th>
                                                            <th>Portfolio Diversity</th>
                                                            <th>Today's Return</th>
                                                            <th>Total Return</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        <tr>
                                                            <th>AAPL</th>
                                                            <th>12</th>
                                                            <th>116</th>
                                                            <th>2000</th>
                                                            <th>40%</th>
                                                            <th>+$42.47</th>
                                                            <th>+$420.41</th>
                                                        </tr>
                                                        <tr>
                                                            <th>FB</th>
                                                            <th>12</th>
                                                            <th>116</th>
                                                            <th>2000</th>
                                                            <th>60%</th>
                                                            <th>+$42.47</th>
                                                            <th>+$420.41</th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- row ____ #4 recent trade history-->
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Recent Trade History</h4>
                                            <div class="trade-history-table">
                                                <div class="table-responsive">
                                                    <table class="table table-xs">
                                                        <thead>
                                                        <tr>
                                                            <th>Company</th>
                                                            <th>Date</th>
                                                            <th>Price($)</th>
                                                            <th>Shares</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        <tr>
                                                            <th>AAPL</th>
                                                            <th>11:23:25</th>
                                                            <th>11900.12</th>
                                                            <th>0.215</th>
                                                            <th>Buy</th>
                                                        </tr>
                                                        <tr>
                                                            <th>AMAZ</th>
                                                            <th>11:23:05</th>
                                                            <th>11903.18</th>
                                                            <th>1.545</th>
                                                            <th>Sell</th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <form method="post" action="" id="submitFormT">
                                <input type="text" name="symbol" value="1" style="display:none"/>
                            </form>

                      
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-footer"> 2018 © cs407</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function deleteAllMsg(symbol) {
            var x = document.getElementById('submitFormT');
            x.action += "/deleteAllMsg"
            //document.getElementById("submitFormT").elements.namedItem("symbol").value = symbol;
            x.submit();
        }
    </script>

    <!-- Common JS -->
    <script src="../assets/plugins/common/common.min.js"></script>
    <!-- Sidebar -->
    <script src="../assets/plugins/iconav/js/iconav.min.js"></script>
    <script src="../assets/plugins/iconav/js/iconav-init.js"></script>
    <!-- Peity chart -->
    <script src="../assets/plugins/peity/jquery.peity.min.js"></script>


    <!-- Amchart -->
    <script src="../assets/plugins/amchart/serial.js"></script>
    <script src="../assets/plugins/amchart/light.js"></script>
    <script src="../assets/plugins/amchart/amstock.js"></script>
    <script src="../assets/plugins/amchart/dashboard1-amchart-init.js"></script>
    <!-- Custom dashboard script -->
    <script src="js/dashboard-1.js"></script>
    <!-- Custom script -->
    <script src="js/custom.min.js"></script>
</body>

</html>