<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Billionaire</title>
    <link href="stylesheets/gamestyle.css" rel="stylesheet">
    <link href="stylesheets/stock.css" rel="stylesheet">
</head>

<body>
    <div id="icoAdmin" class="icoAdmin random-data">
       <div class="icoAdmin-overlay-box"></div>
        <div class="icoAdmin-container">
            <header class="icoAdmin-header">
                <div class="icoAdmin-wrapper">
                    <div class="icoAdmin-left-header">
                        <div class="icoAdmin-logo">
								<span class="logo-text">Billionaire<span class="hide-in-smallsize"></span></span>
                            </a>
                        </div>
                    </div>
                    <div class="icoAdmin-right-header">
                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="icon-menu"></i></a></div>
                        
                        <div class="icoAdmin-rr-header">
                            <ul>
                                <!-- _________________Notifications_______________ -->
                                <li class="icons"> <a href="javascript:void(0)"><i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="icoAdmin-badge badge-success">2</span>
										</a>
                                   <div class="drop-down">
                                        <div class="dropdown-content-heading"> <span class="text-left">Recent Notifications</span> </div>
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li>
                                                    <a href="#"> <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                        <div class="notification-content"> <small class="notification-timestamp pull-right">21:45 PM</small>
                                                            <div class="notification-heading">Daily report</div>
                                                            <div class="notification-text">NASDAQ going down 500</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"> <img class="pull-left m-r-10 avatar-img" src="../assets/images/avatar/3.jpg" alt="" />
                                                        <div class="notification-content"> <small class="notification-timestamp pull-right">21:45 PM</small>
                                                            <div class="notification-heading">Daily report</div>
                                                            <div class="notification-text">NASDAQ going down 1500</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="text-center"> <a href="#" class="more-link">See All</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- ___________________Notifications end_________________-->
                                <li class="icons">
                                    <a href="javascript:void(0)"> <i class="fa fa-user" aria-hidden="true"></i> </a>
                                    <div class="drop-down dropdown-profile">
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li><a href="/user/profile"><i class="ti-settings"></i> <span>Profile</span></a></li>
                                                <li><a href="/user/logout"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="icoAdmin-main-container">
                <div class="icoAdmin-wrapper">
                    <nav class="icoAdmin-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="icoAdmin-inner-navbar">
                            <div class="icoAdmin-search"> <span class="searchbar-toggle">  </span>
                                
                                <form class="icoAdmin-search-box " action = "/stock" method="post">
                                    <input type="text" placeholder="Search" name="stockName"> <button class="search-icon" type = "submit" ><i class="fa fa-search" aria-hidden="true"></i></span> </div>
                                </form>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/"> <span class="icoAdmin-micon"><i class="icon-graph"></i></span> <span class="icoAdmin-mtext">Home Page</span> </a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game"> <span class="icoAdmin-micon"><i class="icon-speedometer"></i></span> <span class="icoAdmin-mtext">Game Page</span></a>
                                    
                                </li>
                            </ul>

                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                            <a href="/game/watchlist"> <span class="icoAdmin-micon"><i class="icon-calender"></i></span> <span class="icoAdmin-mtext">Watchlist</span></a>
                                </li>
                            </ul>

                            

                             
                        </div>
                    </nav>
                    <div class="icoAdmin-content">
                        <div class="icoAdmin-inner-content container-fluid">
                            <div class="row page-titles">
                                <div class="col-md-2 align-self-center">
                                    <h3 class="text-primary">Dashboard</h3>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <div class="crypto-ticker">
                                        <ul id="webticker-dark-icons">
                                            <li data-update="item1"><i class="cc BTC"></i> APPL <span class="coin-value"> $11.039232</span></li>
                                            <li data-update="item2"><i class="cc ETH"></i> AMAZ <span class="coin-value"> $1.2792</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--  row ____________  #1    -->
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="stat-widget-four">
                                            <div class="stat-icon">
                                                <i class="ti-user"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-heading">Users</div>
                                                    <div class="stat-text">{{user.username}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="stat-widget-four">
                                            <div class="stat-icon">
                                                <i class="ti-server"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-heading">Total Profit</div>
                                                    <div class="stat-text">Total: $ {{user.coin}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="stat-widget-four">
                                            <div class="stat-icon">
                                                <i class="ti-stats-up"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-heading">Daily Profit</div>
                                                    <div class="stat-text"> 0</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="stat-widget-four">
                                            <div class="stat-icon">
                                                <i class="ti-pulse"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-heading">Percent change</div>
                                                    <div class="stat-text"> 0 %</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  row ____________  #2   -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="stat-widget-seven">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <i class="cc DASH"></i>
                                                    </div>
                                                    <div class="col-5">
                                                        <h3>APPL</h3>
                                                        <h6 class="text-muted"><span class="color-gray"></span> <span class="text-info">$0.04</span></h6>
                                                    </div>
                                                    <div class="col-5 text-right">
                                                        <h3>$171</h3>
                                                        <h6 class="text-primary">31% <i class="ti-arrow-up f-s-16 text-primary m-l-5"></i></h6>
                                                    </div>
                                                </div>
                                                <div class="m-t-15">
                                                    <span class="peity-dash" data-peity='{ "fill": "rgba(28,117,188,0.3)", "stroke": "#1c75bc"}'>6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="stat-widget-seven">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <i class="cc ETH" title="ETH"></i>
                                                    </div>
                                                    <div class="col-5">
                                                        <h3>AMAZ</h3>
                                                        <h6 class="text-muted"><span class="color-gray"></span> <span class="text-info">$0.04</span></h6>
                                                    </div>
                                                    <div class="col-5 text-right">
                                                        <h3>$1569</h3>
                                                        <h6 class="text-info">31% <i class="ti-arrow-up f-s-16 text-info m-l-5"></i></h6>
                                                    </div>
                                                </div>
                                                <div class="m-t-15">
                                                    <span class="peity-eth" data-peity='{ "fill": "rgba(70,70,70,0.3)", "stroke": "#282828"}'>6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            <!--  row ____________  #3   -->
                            <div class="row">
                                
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Trade History</h4>
                                            <div class="trade-history-table">
                                                <div class="table-responsive">
                                                    <table class="table table-xs">
                                                        <thead>
                                                            <tr>
                                                                <th>Company</th>
                                                                <th>Price($)</th>
                                                                <th>Amount</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <th>APPL</th>
                                                                <th>11900.12</th>
                                                                <th>0.215</th>
                                                                <th>11:23:25</th>
                                                            </tr>
                                                            <tr>
                                                                <th>AMAZ</th>
                                                                <th>11903.18</th>
                                                                <th>1.545</th>
                                                                <th>11:23:05</th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                      
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-footer"> 2018 © cs407</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Common JS -->
    <script src="../assets/plugins/common/common.min.js"></script>
    <!-- Sidebar -->
    <script src="../assets/plugins/iconav/js/iconav.min.js"></script>
    <script src="../assets/plugins/iconav/js/iconav-init.js"></script>
    <!-- Peity chart -->
    <script src="../assets/plugins/peity/jquery.peity.min.js"></script>


    <!-- Amchart -->
    <script src="../assets/plugins/amchart/serial.js"></script>
    <script src="../assets/plugins/amchart/light.js"></script>
    <script src="../assets/plugins/amchart/amstock.js"></script>
    <script src="../assets/plugins/amchart/dashboard1-amchart-init.js"></script>
    <!-- Custom dashboard script -->
    <script src="js/dashboard-1.js"></script>
    <!-- Custom script -->
    <script src="js/custom.min.js"></script>
</body>

</html>