<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Billionaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" sizes="16x16" href="index/images/logo_16*16.png">

    <!-- owl carousel -->
    <link rel="stylesheet" href="index/css/owl.carousel.min.css">
    <link rel="stylesheet" href="index/css/owl.theme.default.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="index/css/bootstrap.min.css">
    <!-- cryptocoins -->
    <link rel="stylesheet" href="index/css/cryptocoins.css">
    <link rel="stylesheet" href="index/css/cryptocoins-colors.css">
    <!-- template stylesheet -->
    <link rel="stylesheet" href="index/css/style.css">
</head>

<body>

    <div class="webticker">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="crypto-ticker">
                        <ul id="webticker-dark-icons">
                            <li data-update="item1">
                                <i class="cc BTC"></i> AAPL
                                <span class="coin-value"> $11.039232</span>
                            </li>
                            <li data-update="item2">
                                <i class="cc ETH"></i> AMZN
                                <span class="coin-value"> $1.2792</span>
                            </li>
                            <li data-update="item3">
                                <i class="cc GAME"></i> GOOG
                                <span class="coin-value"> $11.039232</span>
                            </li>
                            <li data-update="item4">
                                <i class="cc LBC"></i> NFLX
                                <span class="coin-value"> $0.588418</span>
                            </li>
                            <li data-update="item5">
                                <i class="cc NEO"></i> ADBE
                                <span class="coin-value"> $161.511</span>
                            </li>
                            <li data-update="item6">
                                <i class="cc STEEM"></i> GS
                                <span class="coin-value"> $0.551955</span>
                            </li>
                            <li data-update="item7">
                                <i class="cc LTC"></i> JPM
                                <span class="coin-value"> $177.80</span>
                            </li>
                            <li data-update="item8">
                                <i class="cc NOTE"></i> C
                                <span class="coin-value"> $13.399</span>
                            </li>
                            <li data-update="item9">
                                <i class="cc MINT"></i> MS
                                <span class="coin-value"> $0.880694</span>
                            </li>
                            <li data-update="item10">
                                <i class="cc IOTA"></i> BX
                                <span class="coin-value"> $2.555</span>
                            </li>
                            <li data-update="item11">
                                <i class="cc DASH"></i> IBM
                                <span class="coin-value"> $769.22</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <header class="header">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand" href="#">
                            <img src="index/images/logo_16*16.png"> Billionaire
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                {{#if user}}
                                <li class="nav-item"><a href="#">{{username}}</a></li>
                                <li class="nav-item"><a href="/game">Game Page</a></li>
                                <li class="nav-item"><a href="#" >Watchlist</a></li>
                                <li class="nav-item"><a href="/user/new_signup">Profile</a></li>
                                <li class="nav-item"><a href="/user/new_login">Log Out</a></li>
                                {{else}}
                                <li class="nav-item"><a href="/user/new_signup">Sign up</a></li>
                                <li class="nav-item"><a href="/user/new_login">Log in</a></li>{{/if}}

                                <li class="nav-item search-icon">
                                    <a href="#search_1">
                                        <i class="icofont icofont-search-alt-2"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /# End column -->
            </div>
            <!-- /# End row -->
        </div>
        <!-- /# End container -->
    </header>
    <!-- //////////////////////////////
        End Header
    /////////////////////////////////-->
    {{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
    {{/if}}

    <div class="row">
        <div class="col-lg-12">
            {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}

        </div>
    </div>

    <section class="hero" data-scroll-index="1">
        <div class="container-fluid">
            <div class="row align-items-center highlight justify-content-center text-center hero-height bg-overlay">
                <div class="col-lg-6">
                    <div class="hero-content text-center">
                        
                        <h1>Financial markets can not allowed you to make any mistakes</h1>
                        <p>But, we can</p>
                        <a class="btn btn-primary" href="/user/signup">SIGN UP</a>
                    </div>
                </div>
                <!-- /# End column -->
            </div>
            <!-- /# End row -->
        </div>
        <!-- /# End container -->
    </section>
    <!-- //////////////////////////////
        End Hero
    /////////////////////////////////-->

    <section class="after-hero">
        <div class="container">
            <div class="row" id="search_1">
                <div class=" col-lg-4 col-sm-4 no-padding">
                    <div class="after-hero-box">
                        <div class="after-hero-content">
                            <div class="front">
                                <i class="cc DMD-alt"></i>
                                <h3>NEWS_1</h3>
                            </div>
                            <div class="back">
                                <p>{{title_1}}</p>
                                <a class="read-more" href="{{{url_1}}}">Read More
                                    <i class="icofont icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-sm-4 no-padding">
                    <div class="after-hero-box">
                        <div class="after-hero-content">
                            <div class="front">
                                <i class="cc BANX"></i>
                                <h3>NEWS_2</h3>
                            </div>
                            <div class="back">
                                <p>{{title_2}}</p>
                                <a class="read-more" href="{{{url_2}}}">Read More
                                    <i class="icofont icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-sm-4 no-padding">
                    <div class="after-hero-box">
                        <div class="after-hero-content">
                            <div class="front">
                                <i class="cc ETH"></i>
                                <h3>NEWS_3</h3>
                            </div>
                            <div class="back">
                                <p>{{title_3}}</p>
                                <a class="read-more" href="{{{url_3}}}">Read More
                                    <i class="icofont icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# End column -->
            </div>
            <!-- /# End row -->
        </div>
        <!-- /# End container -->
    </section>
   
    <!--Search Bar-->
<div class="col-lg-12">
        <div class="card">
                 <div class="card-body">
                    <center><div class="logo">

                        <img src="index/images/logo.png" alt="billionaire">

                            </div>

                    </center>


                <form class="searchBar" action="/" method="post">

                <input id="searchBarInput" type="text" name="stockName" placeholder="Type in the stock code/name in the search bar" >

                <div>
                    <input class="search-button" type="submit" value="Search Stock"/>
                    
                </div>

                </form>
            </div>
        </div>
    </div>
    <!--End Search Bar-->

    <section class="cta">
        <div class="container">
            <div class="row d-flex justify-content-around ">
                <div class="col-lg-6 col-sm-6">
                    <div class="cta-content">
                        <h3>Get In Touch Now </h3>
                        <p>Contact us to improve user experience.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <div class="cta-link">
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <!-- /# End column -->
            </div>
            <!-- /# End row -->
        </div>
        <!-- /# End container -->
    </section>
    <!-- //////////////////////////////
        End Call to action
    /////////////////////////////////-->



    <section class="bottom section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="bottom-about">
                        <h3>About Us</h3>
                        <a href="#">billonaire</a>
                        <p>Billionaire is an application that attempts to reproduce or duplicate some or all features of a live stock market on a computer so that a player may practice trading stocks without financial risk.</p>
                        <ul class="bottom-social">
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="latest-post">
                        <h3>Qucik link</h3>
                        <ul>
                            <li><a href="#"> Home Page</a></li>
                            <li><a href="#"> Stock Page</a></li>
                            <li><a href="/game/watchlist"> Watchlist Page</a></li>
                            <li><a href="#"> Profile Page</a></li>
                            <li><a href="/game"> Game Page</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-6">
                    <div class="bottom-tag">
                        <h3>Hot Stock</h3>
                        <ul class="tag-list">
                            <li>
                                <a href="#">AAPL</a>
                            </li>
                            <li>
                                <a href="#">AMZN</a>
                            </li>
                            <li>
                                <a href="#">GOOG</a>
                            </li>
                            <li>
                                <a href="#">NFLX</a>
                            </li>
                            <li>
                                <a href="#">ADBE</a>
                            </li>
                            <li>
                                <a href="#">GS</a>
                            </li>
                            <li>
                                <a href="#">JPM</a>
                            </li>
                            <li>
                                <a href="#">C</a>
                            </li>
                            <li>
                                <a href="#">MS</a>
                            </li>
                            <li>
                                <a href="#">BX</a>
                            </li>
                            <li>
                                <a href="#">BAC</a>
                            </li>
                            <li>
                                <a href="#">IBM</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /# End column -->
            </div>
            <!-- /# End row -->
        </div>
        <!-- /# End container -->
    </section>
    <!-- //////////////////////////////
        End Bottom
    /////////////////////////////////-->




    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="copy-right">billionaire home Page &copy; 2018 | cs407 copy right</p>
                    </div>
                </div>
                <!-- /# End column -->
            </div>
            <!-- /# End row -->
        </div>
        <!-- /# End container -->
    </footer>

    <!-- //////////////////////////////
        End Footer
    /////////////////////////////////-->


    <!-- Modernizr-3 -->
    <script src="index/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- jQuery -->
    <script src="index/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- bootstrap -->
    <script src="index/js/bootstrap.min.js"></script>
    <!-- owl carousel -->
    <script src="index/js/owl.carousel.min.js"></script>
    <!-- webticker -->
    <script src="index/js/jquery.webticker.min.js"></script>


    <!-- scrollit -->
    <script src="index/js/scrollIt.min.js"></script>
    <!-- custom scripts -->
    <script src="index/js/scripts.js"></script>


</body>

</html>