<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Billionaire</title>
    <link href="../stylesheets/gamestyle.css" rel="stylesheet">
</head>

<body>
    <div id="icoAdmin" class="icoAdmin random-data">
       <div class="icoAdmin-overlay-box"></div>
        <div class="icoAdmin-container">
            <header class="icoAdmin-header">
                <div class="icoAdmin-wrapper">
                    <div class="icoAdmin-left-header">
                        <div class="icoAdmin-logo">
								<span class="logo-text">Billionaire<span class="hide-in-smallsize"></span></span>
                            </a>
                        </div>
                    </div>
                    <div class="icoAdmin-right-header">
                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="icon-menu"></i></a></div>
                        
                        <div class="icoAdmin-rr-header">
                            <ul>
                                <li class="icons"> <a href="javascript:void(0)"><i class="fa fa-bell" aria-hidden="true"></i>
										</a>
                                   
                                </li>
                           
                                <li class="icons">
                                    <a href="javascript:void(0)"> <i class="fa fa-user" aria-hidden="true"></i> </a>
                                    <div class="drop-down dropdown-profile">
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li><a href="/user/signup"><i class="ti-power-off"></i> <span>Sign Up</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="icoAdmin-main-container">
                <div class="icoAdmin-wrapper">
                    <nav class="icoAdmin-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="icoAdmin-inner-navbar">
                            <div class="icoAdmin-search"> <span class="searchbar-toggle">  </span>
                                <form class="icoAdmin-search-box " action = "/stock" method="post">
                                    <input type="text" placeholder="Search" name="stockName"> <button class="search-icon" type = "submit" ><i class="fa fa-search" aria-hidden="true"></i></span> </div>
                                </form>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/"> <span class="icoAdmin-micon"><i class="icon-graph"></i></span> <span class="icoAdmin-mtext">Home Page</span> </a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game"> <span class="icoAdmin-micon"><i class="icon-speedometer"></i></span> <span class="icoAdmin-mtext">Game Page</span></a>

                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/trade_hist"> <span class="icoAdmin-micon"><i class="icon-book-open"></i></span> <span class="icoAdmin-mtext">Trade History</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/watchlist"> <span class="icoAdmin-micon"><i class="icon-calender"></i></span> <span class="icoAdmin-mtext">Watchlist</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/tutorial"> <span class="icoAdmin-micon"><i class="icon-directions"></i></span> <span class="icoAdmin-mtext">Tutorial</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/knowledge"> <span class="icoAdmin-micon"><i class="icon-bulb"></i></span> <span class="icoAdmin-mtext">Knowledge Center</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/strategies"> <span class="icoAdmin-micon"><i class="icon-notebook"></i></span> <span class="icoAdmin-mtext">Strategy</span></a>
                                </li>
                            </ul>

                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/contact"> <span class="icoAdmin-micon"><i class="icon-note"></i></span> <span class="icoAdmin-mtext">Contact us</span></a>
                                </li>
                            </ul>


                        </div>
                    </nav>

                    <!-- ________Side bar End___________________ -->

                    <div class="icoAdmin-content">
                        <div class="icoAdmin-inner-content container-fluid">
                            <div class="row page-titles">
                                <div class="col-md-2 align-self-center">
                                    <h3 class="text-primary">Login</h3>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active">Login</li>
                                    </ol>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <div class="crypto-ticker">
                                        <ul id="webticker-dark-icons">
                                            <li data-update="item1">
                                                <i class="cc BTC"></i> AAPL
                                                <span class="coin-value"> ${{aapl}}</span>
                                            </li>
                                            <li data-update="item2">
                                                <i class="cc ETH"></i> AMZN
                                                <span class="coin-value"> ${{amzn}}</span>
                                            </li>
                                            <li data-update="item3">
                                                <i class="cc GAME"></i> GOOG
                                                <span class="coin-value"> ${{goog}}</span>
                                            </li>
                                            <li data-update="item4">
                                                <i class="cc LBC"></i> NFLX
                                                <span class="coin-value"> ${{nflx}}</span>
                                            </li>
                                            <li data-update="item5">
                                                <i class="cc NEO"></i> ADBE
                                                <span class="coin-value"> ${{adbe}}</span>
                                            </li>
                                            <li data-update="item6">
                                                <i class="cc STEEM"></i> GS
                                                <span class="coin-value"> ${{gs}}</span>
                                            </li>
                                            <li data-update="item7">
                                                <i class="cc LTC"></i> JPM
                                                <span class="coin-value"> ${{jpm}}</span>
                                            </li>
                                            <li data-update="item8">
                                                <i class="cc NOTE"></i> C
                                                <span class="coin-value"> ${{c}}</span>
                                            </li>
                                            <li data-update="item9">
                                                <i class="cc MINT"></i> MS
                                                <span class="coin-value"> ${{ms}}</span>
                                            </li>
                                            <li data-update="item10">
                                                <i class="cc IOTA"></i> BX
                                                <span class="coin-value"> ${{bx}}</span>
                                            </li>
                                            <li data-update="item11">
                                                <i class="cc DASH"></i> IBM
                                                <span class="coin-value"> ${{ibm}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- __________Header END______________  -->
                            <div class="row">
                                <div class="col-lg-12">
                                    {{#if success_msg}}
                                    <div class="alert alert-success">{{success_msg}}</div>
                                    {{/if}}

                                    {{#if error_msg}}
                                    <div class="alert alert-danger">{{error_msg}}</div>
                                    {{/if}}

                                    {{#if error}}
                                    <div class="alert alert-danger">{{error}}</div>
                                    {{/if}}

                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-lg-4">
                                    <div class="login-content card">
                                        <div class="login-form">
                                            <h4>Login</h4>
                                            <form id = "form_login" action="/user/login" method="post">
                                                <div class="form-group">
                                                    <label id = "login_lbl_username">Username</label>
                                                    <input id = "login_input_username" type="text" class="form-control" name="username" placeholder="Username">
                                                </div>
                                                <div class="form-group">
                                                    <label id = "login_lbl_password">Password</label>
                                                    <input id = "login_input_password" type="password" class="form-control" name="password" placeholder="Password">
                                                </div>
                                                <div class="checkbox">

                                                    <label class="pull-right">
                                                        <a href="/user/resetpw">Forgotten Password?</a>
                                                    </label>

                                                </div>

                                                <button id = "login_btn_login" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                                                <div class="register-link m-t-15 text-center">
                                                    <p>Don't have account ? <a href="/user/signup"> Sign Up Here</a></p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                            <!-- _____________CopyRight Start______________-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-footer"> 2018 © cs407</div>
                                </div>
                                
                                

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Common JS -->
    <script src="../assets/plugins/common/common.min.js"></script>
    <!-- Sidebar -->
    <script src="../assets/plugins/iconav/js/iconav.min.js"></script>
    <script src="../assets/plugins/iconav/js/iconav-init.js"></script>
    <!-- Peity chart -->
    <script src="../assets/plugins/peity/jquery.peity.min.js"></script>


    <!-- Amchart -->
    <script src="../assets/plugins/amchart/serial.js"></script>
    <script src="../assets/plugins/amchart/light.js"></script>
    <script src="../assets/plugins/amchart/amstock.js"></script>
    <script src="../assets/plugins/amchart/dashboard1-amchart-init.js"></script>
    <!-- Custom dashboard script -->
    <script src="../js/dashboard-1.js"></script>
    <!-- Custom script -->
    <script src="../js/custom.min.js"></script>
</body>

</html>