<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Billionaire</title>
    <link href="../stylesheets/gamestyle.css" rel="stylesheet">
</head>

<body>
    <div id="icoAdmin" class="icoAdmin random-data">
       <div class="icoAdmin-overlay-box"></div>
        <div class="icoAdmin-container">
            <header class="icoAdmin-header">
                <div class="icoAdmin-wrapper">
                    <div class="icoAdmin-left-header">
                        <div class="icoAdmin-logo">
								<span class="logo-text">Billionaire<span class="hide-in-smallsize"></span></span>
                            </a>
                        </div>
                    </div>
                    <div class="icoAdmin-right-header">
                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="icon-menu"></i></a></div>
                        
                        <div class="icoAdmin-rr-header">
                            <ul>
                                <li class="icons"> <a href="javascript:void(0)"><i class="fa fa-bell" aria-hidden="true"></i>
										</a>
                                   
                                </li>
                           
                                <li class="icons">
                                    <a href="javascript:void(0)"> <i class="fa fa-user" aria-hidden="true"></i> </a>
                                    <div class="drop-down dropdown-profile">
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li><a href="#"><i class="ti-settings"></i> <span>Profile</span></a></li>
                                                <li><a href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="icoAdmin-main-container">
                <div class="icoAdmin-wrapper">
                    <nav class="icoAdmin-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="icoAdmin-inner-navbar">
                            <div class="icoAdmin-search"> <span class="searchbar-toggle">  </span>
                                <div class="icoAdmin-search-box ">
                                    <input type="text" placeholder="Search"> <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span> </div>
                            </div>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/"> <span class="icoAdmin-micon"><i class="icon-graph"></i></span> <span class="icoAdmin-mtext">Home Page</span> </a>
                                </li>
                            </ul>

                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game"> <span class="icoAdmin-micon"><i class="icon-speedometer"></i></span> <span class="icoAdmin-mtext">Game Page</span></a>

                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/trade_hist"> <span class="icoAdmin-micon"><i class="icon-book-open"></i></span> <span class="icoAdmin-mtext">Trade History</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/watchlist"> <span class="icoAdmin-micon"><i class="icon-calender"></i></span> <span class="icoAdmin-mtext">Watchlist</span></a>
                                </li>
                            </ul>

                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/tutorial"> <span class="icoAdmin-micon"><i class="icon-directions"></i></span> <span class="icoAdmin-mtext">Tutorial</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/knowledge"> <span class="icoAdmin-micon"><i class="icon-bulb"></i></span> <span class="icoAdmin-mtext">Knowledge Center</span></a>
                                </li>
                            </ul>
                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/game/strategies"> <span class="icoAdmin-micon"><i class="icon-notebook"></i></span> <span class="icoAdmin-mtext">Strategy</span></a>
                                </li>
                            </ul>

                            <ul class="icoAdmin-item icoAdmin-brand icoAdmin-left-item">
                                <li>
                                    <a href="/contact"> <span class="icoAdmin-micon"><i class="icon-note"></i></span> <span class="icoAdmin-mtext">Contact us</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <!-- ________Side bar End___________________ -->

                    <div class="icoAdmin-content">
                        <div class="icoAdmin-inner-content container-fluid">
                            <div class="row page-titles">
                                <div class="col-md-2 align-self-center">
                                    <h3 class="text-primary">Dashboard</h3>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <div class="crypto-ticker">
                                        <ul id="webticker-dark-icons">
                                            <li data-update="item1"><i class="cc BTC"></i> APPL <span class="coin-value"> $11.039232</span></li>
                                            <li data-update="item2"><i class="cc ETH"></i> AMAZ <span class="coin-value"> $1.2792</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- __________Header END______________  -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row justify-content-between">
                                                <!-- Part 0 : Intro -->
                                                <div class="col-lg-12">
                                                    <h4 class="card-title">Stocks Simulator turorial: Introduction</h4>
                                                    <div class="card-content">
                                                        <br>
                                                        <h6 class="card-subtitle">Part 0 : <code>Introduction</code></h6>
                                                        <br>
                                                        <p class="text-left">For many new investors, investing in the stock market can be a daunting and complex task. Investment has brought considerable rewards and risks. So why not use virtual accounts to practice before the hard savings in the future?</p>
                                                        <p class="text-left">Our simulator uses real data from the stock market to recreate the experience of using real online brokerage accounts. Virtual cash balances are provided to users, and virtual transactions can be conducted using real market data. There are many uses of the simulator: educators use it as a tool to introduce the stock market to students. Some are used to test new investment strategies, and others use it to experience the "feeling" of the transaction. Whatever your current financial knowledge level, simulators can help you become better investors.</p>
                                                    </div>

                                                    <div class="col-12">
                                                        <br>
                                                    </div>
                                                </div>
                                                <!-- Part 1 -->
                                                <div class="col-lg-12">
                                                    <h4 class="card-title">Stocks Simulator turorial: Knowledge Center</h4>
                                                    <div class="card-content">
                                                        <br>
                                                        <h6 class="card-subtitle">Part 1 : <code>Knowledge Center</code></h6>
                                                        <br>
                                                        <p class="text-left">reference by <a href="/game/knowledge">Knowledge Center</a></p>
                                                    </div>

                                                    <div class="col-12">
                                                        <br>
                                                    </div>
                                                </div>

                                                <!-- Part 2 -->
                                                <div class="col-lg-12">
                                                    <h4 class="card-title">Stocks Basics: Strategies</h4>
                                                    <div class="card-content">
                                                        <br>
                                                        <h6 class="card-subtitle">Part 2 : <code>Strategies</code></h6>
                                                        <br>
                                                        <p class="text-left">reference by <a href="/game/strategies">Strategies Center</a></p>
                                                    </div>

                                                    <div class="col-12">
                                                        <br>
                                                    </div>
                                                </div>

                                                <!-- Part 3 -->
                                                <div class="col-lg-12">
                                                    <h4 class="card-title">Stocks Basics: How to play/trade</h4>
                                                    <div class="card-content">
                                                        <br>
                                                        <h6 class="card-subtitle">Part 3 : <code>How to play/trade</code></h6>
                                                        <br>
                                                        <p class="text-left">Now that you are familiar with your trading account interface, let's continue and execute your first stock purchase. We will take the following steps to buy 100 shares of Apple Corp, the famous American company (New York Stock Exchange: AAPL).</p>
                                                        <div class="logo">
                                                            <img src="../images/img/AAPL_2.png" height="280" width="520">
                                                        </div>
                                                        <br>
                                                        <p class="text-left">In the trading stock screen, enter AAPL in the symbol field, enter'100'in the number field, and leave all other fields with their default settings, as shown below.</p>
                                                        <p class="text-left"></p>
                                                        <br>
                                                    </div>

                                                    <div class="col-12">
                                                        <br>
                                                    </div>
                                                </div>

                                                <!-- END here-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            <!-- _____________CopyRight Start______________-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-footer"> 2018 © cs407</div>
                                </div>
                                
                                

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Common JS -->
    <script src="../assets/plugins/common/common.min.js"></script>
    <!-- Sidebar -->
    <script src="../assets/plugins/iconav/js/iconav.min.js"></script>
    <script src="../assets/plugins/iconav/js/iconav-init.js"></script>
    <!-- Peity chart -->
    <script src="../assets/plugins/peity/jquery.peity.min.js"></script>


    <!-- Amchart -->
    <script src="../assets/plugins/amchart/serial.js"></script>
    <script src="../assets/plugins/amchart/light.js"></script>
    <script src="../assets/plugins/amchart/amstock.js"></script>
    <script src="../assets/plugins/amchart/dashboard1-amchart-init.js"></script>
    <!-- Custom dashboard script -->
    <script src="../js/dashboard-1.js"></script>
    <!-- Custom script -->
    <script src="../js/custom.min.js"></script>
</body>

</html>