/*****************
Forget Password
******************/
#form_forget_password {
    position: relative;
    left: 35%;
    padding-top: 5%;
    padding-bottom: 5%; 
}
#forgetP_lbl_email{
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
}
#forgetP_input_email {
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 300px;   
}

#forgetP_btn_reset_password{
    position: relative;
    top: 20px;
    bottom: 20px;
}

/*****************
Reset Password
******************/
#form_reset_password{
    position: relative;
    left: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#resetP_lbl_new_pass {
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
}
#resetP_lbl_confirm {
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
}
#resetP_input_new_pass {
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 300px;
}
#resetP_input_new_pass_confirm {
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 300px;
}

#resetP_btn_reset_password{
    position: relative;
    top: 20px;
    bottom: 20px;
}